<div class="form-layout recipe-form">
  <%= form_with(model: recipe, class: "recipe-form-fields") do |form| %>
    <% if recipe.errors.any? %>
      <div class="error-messages">
        <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>
        <ul>
          <% recipe.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="input-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-input" %>
    </div>

    <div class="input-group">
      <%= form.label :minutes %>
      <%= form.number_field :minutes, class: "form-input" %>
    </div>

    <div class="input-group">
      <%= form.label :hours %>
      <%= form.number_field :hours, class: "form-input" %>
    </div>

    <div class="input-group">
      <%= form.label :ingredients %>
      <div id="ingredients-container">
        <input type="text" name="recipe[ingredients][]" class="form-input" />
      </div>
      <button type="button" class="add-btn" onclick="addIngredient()">+</button>
    </div>

    <div class="input-group">
      <%= form.label :steps %>
      <div id="steps-container">
        <textarea name="recipe[steps][]" placeholder="Step" class="form-input step-textarea"></textarea>
      </div>
      <button type="button" class="add-btn" onclick="addStep()">+</button>
    </div>

    <div class="submit-container">
      <%= form.submit "Add New Recipe", class: "submit-btn" %>
    </div>
  <% end %>
</div>

<script>
  function addIngredient() {
    const container = document.getElementById('ingredients-container');
    const input = document.createElement('input');
    input.type = 'text';
    input.name = 'recipe[ingredients][]';
    input.placeholder = 'Enter another ingredient';
    input.className = 'form-input';
    container.appendChild(input);
  }

  function addStep() {
    const container = document.getElementById('steps-container');
    const stepCount = container.querySelectorAll('input').length + 1;
    const input = document.createElement('textarea');
    input.name = 'recipe[steps][]';
    input.placeholder = `Enter step`;
    input.className = 'form-input step-textarea';
    container.appendChild(input);
  }
</script>
