<div id="<%= dom_id recipe %>">
  <p>
    <strong>Name:</strong>
    <%= recipe.name %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= recipe.duration %>
  </p>

  <p>
    <strong>Minutes:</strong>
    <%= recipe.minutes %>
  </p>

  <p>
    <strong>Hours:</strong>
    <%= recipe.hours %>
  </p>

  <p>
    <strong>Ingredients:</strong>
    <%= recipe.ingredients %>
  </p>

  <p>
    <strong>Steps:</strong>
    <%= recipe.steps %>
  </p>

</div>
